.lecture_section {
  padding-top: 47px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-top: 110px;
    padding-bottom: 36px;
  }
  @media screen and (min-width: 1368px) {
    padding-top: 74px;
    padding-bottom: 54px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 114px;
    padding-bottom: 78px;
  }
}
