.aboutCourse {
  padding-bottom: 80px;
  @media screen and (min-width: 768px) {
    padding-bottom: 104px;
  }
  @media screen and (min-width: 1368px) {
    padding-top: 113px;
    padding-bottom: 111px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 140px;
    padding-bottom: 156px;
  }
}

.textWrapper {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    display: flex;
    gap: 32px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}

.text {
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    width: 317px;
  }
  @media screen and (min-width: 1368px) {
    width: 545px;
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    width: 788px;
    text-align: justify;
    font-size: 18px;
  }
}
