.register {
  position: relative;
  padding: 40px 0;
  @media screen and (min-width: 768px) {
    padding-top: 29px;
    padding-bottom: 52px;
  }
  @media screen and (min-width: 1368px) {
    padding: 54px 0;
  }
  @media screen and (min-width: 1920px) {
    padding: 78px 0;
  }
}
.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 1368px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1368px) {
    flex-direction: row;
  }
}

.form_wrapper {
  background: linear-gradient(293deg, #000 14.11%, rgba(0, 0, 0, 0) 66%),
    url("/images/contact-bg-desktop-large.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 32px 16px;
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    padding: 20px 16px;
  }
  @media screen and (min-width: 1920px) {
    padding: 32px 24px;
  }
  & input {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 1920px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

.ellipse {
  @media screen and (min-width: 1368px) {
    z-index: -1;
    position: absolute;
    top: -100px;
    background-image: url("/icons/test.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 914px;
    height: 914px;
    left: -550px;
  }
  @media screen and (min-width: 1920px) {
    top: -186px;
    width: 1283px;
    height: 1283px;
    left: -800px;
  }
}
