.timer {
  width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 280px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 376px;
  }
}
.get_sale {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 42px;
  }
}
.get_sale_info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 1920px) {
    font-size: 24px;
  }

  & span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    color: #d93d30;
    margin-top: 11px;

    @media screen and (min-width: 1920px) {
      font-size: 32px;
      margin-top: 16px;
    }
  }
}

.timer_left_descr {
  color: #8a8b8a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 11px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
    margin-bottom: 16px;
  }
}
.timer_output_block {
  display: flex;
  gap: 8px;
}

.time_output {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #8a8b8a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #3d3d3d;
  border-radius: 8px;
  flex-basis: calc((100% - 3 * 8px) / 4);

  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}

.time_value {
  color: #fff;
  font-size: 18px;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
  }
}
