.headerIcon {
  width: 24px;
  height: 24px;
}
.tabPanel {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: -9999px;

  transition: visibility linear 350ms, opacity linear 350ms;
  @media screen and (min-width: 1368px) {
    width: 736px;
  }
  @media screen and (min-width: 1920px) {
    width: 1056px;
  }
}
.tabPanelContent {
  padding: 16px;

  border-radius: 17px;

  background-image: url("/images/courseTechnology/text-bg-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 768px) {
    padding: 21px;

    font-size: 14px;
  }
  @media screen and (min-width: 1368px) {
    padding: 16px;
  }
  @media screen and (min-width: 1920px) {
    padding: 24px;

    font-size: 18px;
  }
}

.contentIcon {
  margin-bottom: 16px;
  width: 550px;
  height: 24px;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  @media screen and (min-width: 1368px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 20px;
    font-size: 28px;
  }
}
.tabs {
  @media screen and (min-width: 1368px) {
    display: flex;
    gap: 32px;
  }
}

.tabsList {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1368px) {
    margin: 0;
    width: 160px;
    flex-direction: column;
  }
  @media screen and (min-width: 1920px) {
    width: 240px;
  }
}
.tab {
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 3px;
  width: 351px;

  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  border-radius: 11px;
  border: 0.713px solid#3d3d3d;
  outline: transparent;
  transition: border linear 250ms;

  &:hover {
    border: 0.713px solid #d93d30;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1368px) {
    width: 160px;
  }
  @media screen and (min-width: 1920px) {
    padding: 12px;
    width: 240px;

    font-size: 20px;
  }
}
.tabActive {
  border: 0.713px solid #d93d30;
}
.react-tabs__tab {
  background-color: red;
}

.activeTabPanel {
  position: relative;
  left: 0;
  visibility: visible;
  opacity: 1;
}
