.nasa_section {
  position: relative;
  padding-bottom: 72px;
  @media screen and (min-width: 768px) {
    padding-bottom: 221px;
  }
  @media screen and (min-width: 1368px) {
    padding-bottom: 223px;
  }
  @media screen and (min-width: 1920px) {
    padding-bottom: 281px;
  }
}
.info_block {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("/images/nasa-courses/nasa_black_bg_mob.png");
  padding: 24px 12px 364px 16px;
  width: 100%;

  @media screen and (min-width: 768px) {
    background-image: url("/images/nasa-courses/nasa_black_bg_tab.png");
    padding: 24px 20px;
    max-width: 833px;
    background-size: 105% 100%;
  }

  @media screen and (min-width: 1920px) {
    background-image: url("/images/nasa-courses/nasa_black_bg_desk2.png");
    max-width: 1192px;
    height: 484px;
  }
}
.description {
  position: relative;
  z-index: 4;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    max-width: 386px;
  }
  @media screen and (min-width: 1368px) {
    max-width: 524px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 749px;
    font-size: 18px;
  }
}

.employment {
  position: absolute;
  bottom: -350px;
  right: -333px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/images/nasa-courses/employment_mob.png");
  width: 852px;
  height: 1012px;

  @media screen and (min-width: 768px) {
    background-image: url("/images/nasa-courses/employment_tab.png");
    width: 1600px;
    height: 1600px;
    right: -927px;
    bottom: -570px;
  }
  @media screen and (min-width: 1368px) {
    background-image: url("/images/nasa-courses/employment_desk.png");
    right: -859px;
    bottom: -573px;
  }
  @media screen and (min-width: 1920px) {
    width: 2200px;
    height: 2200px;
    right: -1162px;
    bottom: -890px;
  }
}
