.footer-title {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-bottom: 22px;
    font-size: 18px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 22px;
    font-size: 16px;
  }
}

.contact-title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
    font-size: 28px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 0;
    width: 597px;
    font-size: 28px;
  }
  @media screen and (min-width: 1920px) {
    width: 859px;
    font-size: 40px;
  }
}

.faqTitle {
  margin-bottom: 40px;

  color: #fff;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 48px;

    font-size: 28px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 56px;

    font-size: 56px;
  }
}

.courses_section_title,
.step_section_title,
.contact_title,
.joinUsMainTitle,
.teachers_title,
.socials_title,
.aboutCourse,
.aboutCourseSecondTitle,
.aboutProfessionTitle,
.programTitle,
.courseTechnologyTitle,
.roadmapTitle,
.mapTitle,
.nasaTitle {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 40px;
    margin-bottom: 56px;
  }
}

.step_section_title {
  @media screen and (max-width: 375px) {
    max-width: 190px;
  }
}

.joinUsMainTitle {
  position: relative;
  z-index: 1;

  margin-bottom: 16px;

  text-align: center;

  @media screen and (min-width: 1368px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 20px;
  }
}

.joinUsSubTitle {
  position: relative;
  z-index: 1;

  margin-bottom: 72px;

  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 40px;

    font-size: 20px;
  }
}

.teachers_title {
  @media screen and (max-width: 370px) {
    margin-bottom: 80px;
  }
}

.step_section_title {
  @media screen and (max-width: 370px) {
    margin-bottom: 70px;
  }
}

.socials_title {
  margin-bottom: 12px;
  width: 100%;
  max-width: 352px;

  @media screen and (min-width: 768px) {
    max-width: 378px;
  }
  @media screen and (min-width: 1368px) {
    max-width: 439px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 490px;
    margin-bottom: 16px;
  }
}
.main_courses_title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.courses_hero_title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 13px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 56px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 72px;
    margin-bottom: 56px;
  }
}

.courses_hero_tech_title {
  @media screen and (max-width: 1367px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media screen and (min-width: 1368px) {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 28px;
  }
}

.nasaTitle {
  text-align: center;
  margin-bottom: 0;
  @media screen and (min-width: 768px) {
    font-size: 60px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 104px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 146px;
  }
}

.aboutCourse {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}

.aboutCourseSecondTitle {
  margin-bottom: 32px;
  font-size: 24px;
  text-transform: none;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 323px;
  }
  @media screen and (min-width: 1368px) {
    width: 350px;
    font-size: 20px;
  }
  @media screen and (min-width: 1920px) {
    width: 510px;
    font-size: 32px;
  }
}

.you_learning_title,
.course_teacher_title {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 40px;
  }
}

.aboutProfessionTitle {
  margin-bottom: 21px;
  @media screen and (min-width: 1368px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 21px;
  }
}

.aboutProfessionSubtitle {
  margin-bottom: 64px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 48px;

    font-size: 16px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;

    font-size: 24px;
    line-height: normal;
  }
}

.aboutProfessionGraphTitle {
  margin-bottom: 24px;

  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    font-size: 20px;
    text-align: left;
  }

  @media screen and (min-width: 1368px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 32px;

    font-size: 24px;
  }
}

.aboutProfessionVacanciesTitle {
  margin-bottom: 24px;

  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.2;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 24px;

    font-size: 20px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 32px;

    font-size: 32px;
  }
}
.course_teacher_title {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}

.programTitle {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 17px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 24px;
  }
}

.diploma_title,
.diploma_title_bottom {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 40px;
    margin-bottom: 57px;
  }
}
.diploma_title {
  @media screen and (min-width: 1368px) {
    display: none;
  }
}

.diploma_title_bottom {
  display: none;
  @media screen and (min-width: 1368px) {
    display: block;
  }
}

.register_course {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 65px;
  }

  @media screen and (min-width: 1368px) {
    margin-bottom: 62px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 56px;
    margin-bottom: 74px;
  }
}

.courseTechnologyTitle {
  margin-bottom: 40px;
  word-wrap: unset;

  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
    width: 400px;
  }
  @media screen and (min-width: 1368px) {
    width: 100%;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}

.nasa_courses_title {
  text-transform: uppercase;
  position: relative;
  z-index: 4;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    max-width: 460px;
  }

  @media screen and (min-width: 1368px) {
    max-width: 464px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 40px;
    max-width: 652px;
  }
}

.lecture_hall_title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    max-width: 556px;
  }
  @media screen and (min-width: 1368px) {
    max-width: 720px;
    margin-bottom: 46px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
    max-width: 935px;
  }
}

.team_title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;

  @media screen and (min-width: 1920px) {
    font-size: 40px;
  }
}

.main_about_title {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 39px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 51px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 72px;
    margin-bottom: 64px;
  }
}

.customers_title {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 28px;
    margin-bottom: 45px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 40px;
    margin-bottom: 64px;
  }
}

.roadmapTitle {
  @media screen and (min-width: 768px) {
    font-size: 28px;
    // margin-bottom: 64px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 40px;
    margin-bottom: 64px;
  }
}

.contacts_page_title,
.tech_title {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 63px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 56px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 72px;
    margin-bottom: 63px;
  }
}

.tech_title {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
  }
}

.mapTitle {
  @media screen and (min-width: 1368px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 64px;
    font-size: 40px;
  }
}
