.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1368px) {
    order: 1;
    margin-left: 0;
  }
}

.btn {
  border-radius: 16px;
  background: #d93d30;
  box-shadow: 0px 1px 2px 0px rgba(205, 72, 55, 0.29),
    0px 3px 3px 0px rgba(205, 72, 55, 0.26),
    0px 8px 5px 0px rgba(205, 72, 55, 0.15),
    0px 14px 5px 0px rgba(205, 72, 55, 0.04),
    0px 21px 6px 0px rgba(205, 72, 55, 0.01);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  transition: background-color linear 250ms, color linear 250ms;

  &:hover,
  &:focus {
    background: #fff;
    color: #100e0e;
  }

  &:hover .messageIcon,
  &:focus .messageIcon {
    color: #100e0e;
  }
}

.btnCall {
  padding: 21px 8px;
  font-size: 14px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding: 16px 0;
    width: 96px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    padding: 10px 0;
    width: 86px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 14px;
    width: 102px;
  }
}

.btnMessage {
  padding: 8px 10px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
  font-size: 12px;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    width: 281px;
    font-size: 14px;
  }

  &:hover .messageIcon,
  &:focus .messageIcon {
    fill: black;
  }
}

.messageIcon {
  width: 32px;
  height: 32px;
  fill: white;

  transition: fill linear 250ms;
}
