.course_slider_wrapper
  .swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: auto;
  bottom: -56px;
  border-radius: 24px;

  background: #ffffff18;
}

.course_slider_wrapper .swiper-pagination-progressbar-fill {
  border-radius: 24px;
  background: var(--White, #fff);
}
