.backdrop {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 20;
  overflow: auto;

  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  z-index: 30;

  padding: 24px 16px;
  height: 100vh;
  max-width: 352px;
  overflow-y: auto;

  border-radius: 17px;

  background-image: url("/images/modals/modalBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (min-height: 466px) {
    height: auto;
    overflow-y: unset;
  }

  @media screen and (min-width: 768px) {
    max-width: 496px;
  }
  @media screen and (min-width: 1368px) {
    padding: 24px;
    max-width: 400px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 592px;

    padding: 32px 24px;
  }
}

.closeBtn {
  position: absolute;
  top: 29px;
  right: 20px;

  padding: 4px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: box-shadow linear 250ms;

  &:hover,
  &:focus {
    -webkit-box-shadow: 2px 2px 11px 0 rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 11px 0 rgba(255, 255, 255, 1);
    outline: transparent;
    cursor: pointer;
  }

  @media screen and (min-width: 1920px) {
    top: 40px;
    right: 20px;

    width: 32px;
    height: 32px;
  }
}
.closeBtnIcon {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 1920px) {
    width: 16px;
    height: 16px;
  }
}

.title {
  margin-bottom: 16px;
  text-align: left;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    text-align: center;
  }
  @media screen and (min-width: 1368px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 20px;

    font-size: 40px;
  }
}

.subtitle {
  margin-bottom: 24px;

  color: #8a8b8a;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 32px;

    font-size: 20px;
  }
}

.form {
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 16px;
  }
}

.input {
  padding: 14px 12px;

  border-radius: 11px;
  border: 1px solid #fff;

  font-size: 14px;
  color: #fff;

  background-color: transparent;

  &::placeholder {
    color: #fff;
  }

  transition: box-shadow linear 250ms;
  &:hover,
  &:focus {
    -webkit-box-shadow: 2px 2px 11px 0 rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 11px 0 rgba(255, 255, 255, 1);
    outline: transparent;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.hiddenInput {
  position: absolute;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  width: -1px;
  height: -1px;
  pointer-events: none;
}

.submitBtn {
  display: flex;
  height: 62px;
  padding: 26px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  border-radius: 12px;
  background: #d93d30;

  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  transition: background-color linear 250ms, color linear 250ms;

  &:hover,
  &:focus {
    background: #fff;
    color: #100e0e;
  }
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.subtext {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 1368px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}
