.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  color: #fff;

  @media screen and (min-width: 768px) {
    gap: 11px;
  }
  @media screen and (min-width: 1368px) {
    align-items: flex-start;
  }
  // @media screen and (min-width: 1920px) {
  //   width: 512px;
  //   gap: 16px;
  // }
}
.btn_wrapper {
  // display: flex;
  // flex-direction: column;
  width: 100%;
  // margin-bottom: 16px;
  @media screen and (min-width: 1368px) {
    display: flex;
    gap: 12px;
  }
}

.inputWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  @media screen and (min-width: 1368px) {
    margin-bottom: 0;
    gap: 8px;
    flex-direction: row;
  }
  @media screen and (min-width: 1920px) {
    gap: 12px;
  }
}

.input {
  width: 100%;
  padding: 14px 12px;
  background-color: transparent;
  border-radius: 11px;
  border: 1px solid #fff;
  color: #fff;

  font-size: 16px;
  font-weight: 400;
  transition: box-shadow linear 250ms;

  &:hover,
  &:focus {
    -webkit-box-shadow: 2px 2px 11px 0 rgba(255, 255, 255, 1);
    box-shadow: 2px 2px 11px 0 rgba(255, 255, 255, 1);
    outline: transparent;
    cursor: pointer;
  }

  @media screen and (min-width: 1368px) {
    font-size: 14px;
    padding: 8px 12px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.input::placeholder {
  color: #fff;
}

.btn {
  display: flex;
  height: 62px;
  padding: 26px 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  border-radius: 12px;
  background: #d93d30;

  color: #fff;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  transition: background-color linear 250ms, color linear 250ms;

  &:hover,
  &:focus {
    background: #fff;
    color: #100e0e;
  }

  @media screen and (min-width: 1368px) {
    height: 38px;
    padding: 20px 10px;
    max-width: 169px;
  }
  @media screen and (min-width: 1920px) {
    height: 53px;
    max-width: 229px;
  }
}

.text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 1368px) {
    text-align: left;
    font-size: 12px;
    max-width: 464px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
    max-width: 630px;
  }
}

.hiddenInput {
  position: absolute;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  width: -1px;
  height: -1px;
  pointer-events: none;
}
