.hero_section {
  padding-top: 102px;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    padding-bottom: 52px;
    padding-top: 98px;
  }
  @media screen and (min-width: 1368px) {
    padding-bottom: 0;
    padding-top: 134px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 198px;
  }
}
.hero_all_vrapper {
  position: relative;
  padding: 12px 17px 32px 12px;

  background-image: url("/images/hero-courses/hero-mob-bg.png");
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    padding: 24px 9px 24px 24px;
    background-image: url("/images/hero-courses/hero-tab-bg.png");
  }
  @media screen and (min-width: 1368px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 24px;
    background-image: url("/images/hero-courses/hero-desk1-bg.png");
  }
  @media screen and (min-width: 1920px) {
    padding: 40px;
    background-image: url("/images/hero-courses/hero-desk2-bg.png");
  }
}
.title_box {
  width: 100%;
  @media screen and (min-width: 1368px) {
    width: 382px;
    margin-bottom: 153px;
  }
  @media screen and (min-width: 1920px) {
    width: 490px;
    margin-bottom: 192px;
  }
}
.hero_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    margin-bottom: 45px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 16px;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
    margin-bottom: 72px;
  }
}
