.hero {
  padding-top: 103px;
  padding-bottom: 47px;

  @media screen and (min-width: 768px) {
    padding-top: 124px;
    padding-bottom: 110px;
  }
  @media screen and (min-width: 1368px) {
    padding-top: 248px;
    padding-bottom: 74px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 341px;
    padding-bottom: 114px;
  }
}
.wrapper {
  @media screen and (min-width: 1368px) {
    display: flex;
    gap: 23px;
  }
  @media screen and (min-width: 1920px) {
    gap: 32px;
  }
}

.hero_image,
.hero_image_mob {
  width: 100%;
  max-width: 368px;
  flex-shrink: 0;

  @media screen and (min-width: 768px) {
    max-width: 677px;
  }
  @media screen and (min-width: 1368px) {
    max-width: 611px;
  }
  @media screen and (min-width: 1920px) {
    max-width: 857px;
  }
}

.hero_image {
  @media screen and (max-width: 1367px) {
    display: none;
  }
}

.hero_image_mob {
  margin-bottom: 22px;

  @media screen and (min-width: 768px) {
    margin-bottom: 55px;
  }

  @media screen and (min-width: 1368px) {
    display: none;
  }
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}
