.step_swiper {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  width: 100%;
}

.swiper_wrapper .step_swiper {
  overflow: visible;
}

section .step_swiper .step_slide {
  width: 256px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 16px 12px;
  height: 338px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1920px) {
    height: 495px;
    width: 375px;
    padding: 20px 20px 40px;
  }
}

.step_slide:nth-child(1) {
  background-image: url("/images/step/step-one1x.png");
}
.step_slide:nth-child(2) {
  background-image: url("/images/step/step-two1x.png");
}
.step_slide:nth-child(3) {
  background-image: url("/images/step/step-three1x.png");
}
.step_slide:nth-child(4) {
  background-image: url("/images/step/step-four1x.png");
}

.card_position {
  display: block;
  font-size: 28px;
  font-weight: 200;
  line-height: normal;
  color: #fff;
  margin-bottom: 145px;

  @media screen and (min-width: 1920px) {
    margin-bottom: 210px;
    font-size: 44px;
  }
}
.card_title {
  color: var(--White, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media screen and (min-width: 1920px) {
    font-size: 28px;
    margin-bottom: 20px;
  }
}

.card_description {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}
.swiper_step_buttons {
  top: 100px;
  display: flex;
  gap: 12px;
  & button {
    cursor: pointer;
  }

  @media screen and (min-width: 1368px) {
    display: none;
  }
}
.step_swiper .swiper_step_buttons .nextEl {
  background-color: aqua;
  width: 50px;
  height: 55px;
}
.step_swiper .swiper_step_buttons .prevEl {
  background-color: red !important;
  width: 50px;
  height: 55px;
}

.step_slide .swiper {
  background-color: aqua;
}

.swiper_step_buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d93d30;
  &:disabled {
    opacity: 0.5;
  }
}
