@mixin ellipse_stile {
  position: absolute;
  z-index: -2;
  width: 138px;
  height: 250px;
  border-radius: 149px;
  background-color: #d53b2e;
  filter: blur(96px);

  @media screen and (min-width: 768px) {
    width: 274px;
    height: 274px;
    filter: blur(190px);
    border-radius: 296px;
  }

  @media screen and (min-width: 1368px) {
    width: 255px;
    height: 255px;
    border-radius: 272px;
    filter: blur(175px);
  }
  @media screen and (min-width: 1920px) {
    width: 255px;
    height: 255px;
    filter: blur(246px);
  }
}

.hero_ellipse {
  @include ellipse_stile;
  right: -90px;
  bottom: 30%;

  @media screen and (min-width: 768px) {
    bottom: 20%;
  }

  @media screen and (min-width: 1368px) {
    bottom: -30%;
  }
  @media screen and (min-width: 1920px) {
    bottom: -10%;
  }
}

.step_section_ellipse {
  @include ellipse_stile;
  left: -150px;
  bottom: -100px;

  @media screen and (min-width: 768px) {
    left: -100px;
    bottom: -100px;
  }

  @media screen and (min-width: 1368px) {
    left: 450px;
    bottom: -400px;
  }
  @media screen and (min-width: 1920px) {
    left: 650px;
    bottom: -500px;
  }
}

.hero-cource-ellipse-top,
.hero-cource-ellipse-bottom,
.teacher_ellipse,
.course_register_ellipse,
.about_hero {
  @media screen and (min-width: 1368px) {
    @include ellipse_stile;
  }
}

.hero-cource-ellipse-top {
  @media screen and (min-width: 1368px) {
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
    filter: blur(200px);
  }
}

.hero-cource-ellipse-bottom {
  @media screen and (min-width: 1368px) {
    top: 200px;
    left: 200px;
    width: 470px;
    height: 470px;
    filter: blur(292.125px);
  }

  @media screen and (min-width: 1920px) {
    top: 360px;
    left: 380px;
    width: 570px;
    height: 570px;
  }
}

.teacher_ellipse {
  @media screen and (min-width: 1368px) {
    width: 500px;
    height: 500px;
    top: 400px;
    filter: blur(292.125px);
  }
  @media screen and (min-width: 1920px) {
    top: 600px;
    width: 570px;
    height: 570px;
    filter: blur(410px);
  }
}

.course_register_ellipse {
  @media screen and (min-width: 1368px) {
    top: 80px;
    left: -200px;
    width: 662px;
    height: 662px;
    filter: blur(292.125px);
  }
}

.about_hero,
.contacts_page {
  position: absolute;
  z-index: -2;
  top: -2%;
  left: 0%;
  width: 76px;
  height: 729px;
  filter: blur(124px);
  background-color: #d53b2e;

  @media screen and (min-width: 768px) {
    top: -120px;
    left: -122px;
    width: 300px;
    height: 300px;
    filter: blur(210px);
  }
  @media screen and (min-width: 1368px) {
    top: -10%;
    left: -21%;
    width: 794px;
    height: 598px;
    filter: blur(410px);
  }
  @media screen and (min-width: 1920px) {
    top: -326px;
    left: -307px;
    width: 805px;
    height: 805px;
  }
}

.contacts_page {
  @media screen and (max-width: 767px) {
    top: 0px;
    left: auto;
    right: 0;
    width: 300px;
    height: 800px;
    filter: blur(210px);
  }
}
.customers {
  @include ellipse_stile;
  width: 360px;
  height: 1043px;
  top: -450px;
  left: -263px;
  filter: blur(395px);

  @media screen and (min-width: 768px) {
    width: 360px;
    height: 1233px;
    top: -330px;
    left: -263px;
    filter: blur(362px);
  }
  @media screen and (min-width: 768px) {
    width: 1000px;
    height: 1000px;
    top: -428px;
    left: -568px;
    filter: blur(486px);
  }
}
