.copy {
  color: #8a8b8a;
  font-size: 14px;
  font-weight: 200;
  text-align: center;
  order: 2;
  margin: 0 auto;
  @media screen and (min-width: 1368px) {
    margin: 128px auto 0;
  }
  @media screen and (min-width: 1920px) {
    margin: 167px auto 0;
  }
}
