.faqContainer {
  position: relative;
  margin-bottom: 81px;
  @media screen and (min-width: 768px) {
    margin-bottom: 84px;
  }
  @media screen and (min-width: 1368px) {
    margin-bottom: 124px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 156px;
  }
}
.backgroundContainer {
  position: relative;
}
