.courseContainer {
  margin: 0 auto;
  padding: 0 12px;

  @media screen and (min-width: 375px) {
    width: 375px;
  }
  @media screen and (min-width: 768px) {
    width: 744px;
    padding: 0 36px;
  }
  @media screen and (min-width: 1368px) {
    width: 1152px;
    padding: 0 16px 0 208px;
    position: relative;
  }
  @media screen and (min-width: 1920px) {
    width: 1652px;
    padding: 0 26px 0 301px;
  }
}
