.faqContainer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 81px;
  @media screen and (min-width: 768px) {
    padding-top: 52px;
    padding-bottom: 42px;
  }
  @media screen and (min-width: 1368px) {
    padding-top: 55px;
    padding-bottom: 62px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 78px;
    padding-bottom: 78px;
  }
}
.backgroundContainer {
  position: relative;
}
