.courses_section {
  position: relative;
  padding-bottom: 111px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 180px;
  }
  @media screen and (min-width: 1368px) {
    padding-top: 65px;
    padding-bottom: 197px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 80px;
    padding-bottom: 271px;
  }
}
