@import "node_modules/modern-normalize/modern-normalize.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-weight: 400; /* Соответствует значению normal */
  font-family: "Manrope-Bold";
  src: url("../../public/fonts/Manrope-Bold.woff2");
}
main {
  position: relative;
}

body {
  font-family: Manrope, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
  background-image: url("/images/main_bg.jpg");
}

body.no-scroll {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
}
