.contacts_section {
  padding-top: 102px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 124px;
    padding-bottom: 52px;
  }
  @media screen and (min-width: 1368px) {
    padding-top: 166px;
    padding-bottom: 78px;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 208px;
    padding-bottom: 156px;
  }
}

.contacts_wrapper {
  @media screen and (min-width: 1368px) {
    display: flex;
    align-items: flex-start;
    gap: 32px;
  }
}
.form_wrapper {
  background: linear-gradient(293deg, #000 14.11%, rgba(0, 0, 0, 0) 66%),
    url("/images/contact-bg-desktop-large.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 32px 16px;
  border-radius: 24px;
  width: 100%;
  max-width: 352px;
  @media screen and (min-width: 768px) {
    padding: 20px 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1367px) {
    display: none;
  }
  @media screen and (min-width: 1920px) {
    max-width: 512px;
    padding: 32px 24px;
  }
  & input {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 1920px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
.form_description {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 32px;
  text-transform: uppercase;
  @media screen and (min-width: 1368px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 28px;
    margin-bottom: 32px;
  }
}
