.program {
  position: relative;
  padding: 40px 0;
  @media screen and (min-width: 768px) {
    padding: 52px 0;
  }
  @media screen and (min-width: 1368px) {
    padding: 55px 0;
  }
  @media screen and (min-width: 1920px) {
    padding-top: 78px;
    padding: 78px 0;
  }
}

.circle {
  position: absolute;
  z-index: -10;
  top: 0;
  right: -300px;
  width: 573px;
  height: 573px;
  flex-shrink: 0;

  border-radius: 324px;
  background-color: rgb(213, 59, 46);
  filter: blur(292px);
}

//   @media screen and (min-width: 768px) {
//   }
//   @media screen and (min-width: 1368px) {
//   }
//   @media screen and (min-width: 1920px) {
//   }
