.header_nav {
  margin-right: auto;
  @media screen and (max-width: 1367px) {
    display: none;
  }
}

.header_link.active {
  font-weight: 600;

  &::after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: #d93d30;
    border-radius: 50%;
    @media screen and (min-width: 1920px) {
      bottom: 23px;
    }
  }
}

.mobile_nav {
  position: relative;
  z-index: 4;
  opacity: 0;
  transition: opacity 500ms linear 20ms;
}

.mobile_nav.isOpen {
  opacity: 1;
}
.mobile_link.active {
  font-weight: 600;
  transform: translateX(16px);

  &::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #d93d30;
    border-radius: 50%;
  }
}

.mobile_link {
  transition: transform 300ms linear;
  transform: translateX(0);
}

.header_link,
.mobile_link {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  transition: color linear 250ms;

  &:hover,
  &:focus {
    color: #ffbab5;
  }
  &:active {
    color: #d93d30;
  }

  @media screen and (min-width: 1368px) {
    padding: 26px 0;
  }
  @media screen and (min-width: 1920px) {
    padding: 41px 0;
  }
}

.header_list,
.mobile_list {
  display: flex;
  gap: 32px;
}

.mobile_list {
  flex-direction: column;
}
