.titleWrapper {
  margin-bottom: 32px;

  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;

  &:hover .title {
    color: #d93d30;
  }
  &:hover .moduleLabel {
    background-color: #d93d30;
  }
  &:hover .weeksLabel {
    color: #d93d30;
  }

  &:hover .indicator {
    background-image: url("/icons/plus-hover.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 20px;
  }
  @media screen and (min-width: 1368px) {
    gap: unset;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 40px;
  }
}

.trigger {
  width: 100%;
  outline: none;
}

.title {
  margin-bottom: 22px;
  min-width: 200px;
  max-width: 250px;

  order: 1;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;

  outline: none;

  transition: color linear 250ms;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    max-width: 100%;
    min-width: auto;
    order: 2;
  }
  @media screen and (min-width: 1368px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 24px;
  }
}

.labelsWrapper {
  display: flex;
  align-items: center;
  gap: 22px;
  order: 3;

  @media screen and (min-width: 768px) {
    gap: 20px;
    order: 1;
  }

  @media screen and (min-width: 1368px) {
    margin-right: 100px;
    gap: 205px;
  }
  @media screen and (min-width: 1920px) {
    margin-right: 100px;
    gap: 100px;
  }
}

.moduleLabel,
.weeksLabel {
  font-weight: 400;
  line-height: 1.5;
}

.moduleLabel {
  padding: 3px 9px;
  border-radius: 24px;
  border: 1px solid #d93d30;

  transition: background-color linear 250ms;
  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 18px;
  }
}

.weeksLabel {
  transition: color linear 250ms;

  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 20px;
  }
}
.indicator {
  margin-left: auto;
  width: 24px;
  height: 24px;

  transition: background-image linear 250ms;

  background-image: url("/icons/plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  order: 2;

  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;

    order: 3;
  }
  @media screen and (min-width: 1368px) {
    // margin-left: 87px;
    order: 3;
  }
  @media screen and (min-width: 1920px) {
    // margin-left: 120px;
    width: 28px;
    height: 28px;

    order: 3;
  }
}

.base[data-open="true"] .title {
  color: #d93d30;
}

.base[data-open="true"] .moduleLabel {
  color: #fff;
  background-color: #d93d30;
}

.base[data-open="true"] .weeksLabel {
  color: #d93d30;
}

.base[data-open="true"] .indicator {
  background-image: url("/icons/minus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.base + hr {
  margin-bottom: 40px;
  height: 1px;
  border-top: 1px solid rgba(61, 61, 61, 1);

  transition: border-top linear 250ms, margin-top linear 250ms;
  @media screen and (min-width: 1368px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 40px;
  }
}

.base[data-open="true"] + hr {
  border-top: 2px solid rgba(217, 61, 48, 1);
}

// //////////////////////////////////////////////////////////////////////////ACCARDION BODY

.icon {
  width: 20px;
  height: 20px;
}

.contentWrapper {
  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    display: flex;
    gap: 32px;
  }
  @media screen and (min-width: 1368px) {
    gap: 224px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 37px;
  }
}

.leftContent {
  flex: 1;
}

.mainText {
  margin-bottom: 24px;

  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1368px) {
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 32px;

    font-size: 20px;
  }
}

.subtext {
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    margin-bottom: 17px;
  }
  @media screen and (min-width: 1368px) {
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 24px;

    font-size: 24px;
  }
}

.technology {
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  gap: 2px;

  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

.result {
  margin-bottom: 32px;
  padding: 16px 12px;

  border-radius: 24px;

  background-image: url("/images/program/resultBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
  @media screen and (min-width: 1920px) {
    padding: 24px;
  }
}

.resultTitle {
  margin-bottom: 16px;

  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 24px;
  }
}

.resultText {
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}

.list {
  margin-bottom: 32px;

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;

  font-weight: 400;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    margin: 0;
    gap: 20px;

    font-size: 12px;
  }
  @media screen and (min-width: 1920px) {
    margin-bottom: 28px;

    font-size: 18px;
  }
}
.list li {
  display: flex;
  align-items: center;
}
.list li::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d93d30;
}
