.footer {
  padding-top: 52px;
  margin-top: -30px;
  padding-bottom: 32px;
  background-color: black;
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 73px;
  }

  @media screen and (min-width: 1368px) {
    padding-top: 102px;
  }
  @media screen and (min-width: 1920px) {
    margin-top: -45px;
    padding-top: 148px;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  @media screen and (min-width: 1368px) {
    align-items: start;
  }
}
