@mixin styledButton {
  background-color: #d93d30;
  position: absolute;
  top: -52px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color linear 300ms;
  &.swiper-button-disabled {
    opacity: 0.5;
  }

  &.swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  &.swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: "";
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }

  &.swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    transition: background-image linear 300ms;
    background-image: url("/icons/arrow/arrow-right.svg");
  }
  &:hover.swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after,
  &:focus.swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    background-image: url("/icons/arrow/arrow-right-black.svg");
  }

  &.swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    transition: background-image linear 300ms;
    background-image: url("/icons/arrow/arrow-left.svg");
  }
  &:hover.swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after,
  &:focus.swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    background-image: url("/icons/arrow/arrow-left-black.svg");
  }

  &:hover,
  :focus {
    background-color: #fff;
  }
  @media screen and (min-width: 768px) {
    top: -56px;
  }
  @media screen and (min-width: 1368px) {
    top: -54px;
  }
  @media screen and (min-width: 1920px) {
    width: 56px;
    height: 56px;
  }
}

.course_slider_wrapper .swiper-button-next {
  @include styledButton;
  right: 0px;
  @media screen and (min-width: 1920px) {
    top: -86px;
  }
}

.course_slider_wrapper .swiper-button-prev {
  @include styledButton;
  left: auto;
  right: 52px;
  @media screen and (min-width: 1920px) {
    right: 68px;
    top: -86px;
  }
}

.step-list-swiper-wrapper .swiper-button-next,
.teacher-slider-wrapper .swiper-button-next,
.social-slider-wrapper .swiper-button-next {
  @include styledButton;
  right: 0px;
  top: -70px;

  @media screen and (min-width: 768px) {
    top: -56px;
  }
}

.step-list-swiper-wrapper .swiper-button-prev,
.teacher-slider-wrapper .swiper-button-prev,
.social-slider-wrapper .swiper-button-prev {
  @include styledButton;
  left: auto;
  right: 52px;
  top: -70px;

  @media screen and (min-width: 768px) {
    top: -56px;
  }
}

.teacher-slider-wrapper .swiper-button-next,
.teacher-slider-wrapper .swiper-button-prev {
  top: -54px;
  @media screen and (min-width: 768px) {
    top: -57px;
  }
  @media screen and (min-width: 1368px) {
    top: -55px;
  }
  @media screen and (min-width: 1920px) {
    top: -85px;
  }
}

.teacher-slider-wrapper .swiper-button-prev,
.social-slider-wrapper .swiper-button-prev,
.step-list-swiper-wrapper .swiper-button-prev {
  @media screen and (min-width: 1920px) {
    right: 68px;
  }
}

.social-slider-wrapper .swiper-button-prev,
.social-slider-wrapper .swiper-button-next {
  top: -51px;
  @media screen and (min-width: 768px) {
    top: -49px;
  }
  @media screen and (min-width: 1368px) {
    top: -61px;
  }
  @media screen and (min-width: 1920px) {
    top: -81px;
  }
}

.course_how_learn .swiper-button-prev,
.course_how_learn .swiper-button-next {
  @include styledButton;

  top: 42px;
  width: 34px;
  height: 34px;

  @media screen and (min-width: 768px) {
    top: 42px;
  }

  @media screen and (min-width: 1368px) {
    top: auto;
    right: auto;
    bottom: 20px;
  }

  @media screen and (min-width: 1920px) {
    width: 40px;
    height: 40px;
    bottom: 33px;
  }

  &.swiper-button-next::after,
  &.swiper-button-prev::after {
    content: "";
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    @media screen and (min-width: 1920px) {
      width: 20px;
      height: 20px;
    }
  }
}
.course_how_learn .swiper-button-prev:after,
.course_how_learn .swiper-button-next::after {
  width: 34px;
  height: 34px;
}

.course_how_learn .swiper-button-prev {
  left: auto;
  right: 59px;
  @media screen and (min-width: 1368px) {
    right: auto;
    left: 16px;
  }
  @media screen and (min-width: 1920px) {
    left: 32px;
  }
}

.course_how_learn .swiper-button-next {
  right: 16px;
  @media screen and (min-width: 1368px) {
    right: auto;
    left: 59px;
  }
  @media screen and (min-width: 1920px) {
    left: 84px;
  }
}

.lecture_hall .swiper-button-prev {
  // display: none;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    top: -72px;
  }
  @media screen and (min-width: 1368px) {
    top: -80px;
  }
  @media screen and (min-width: 1920px) {
    top: -95px;
  }
}

.lecture_hall .swiper-button-next {
  // display: none;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    top: -72px;
  }
  @media screen and (min-width: 1368px) {
    top: -80px;
  }
  @media screen and (min-width: 1920px) {
    top: -95px;
  }
}
