.team_list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.team_item {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    &:nth-child(n + 5) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1368px) {
    flex-basis: calc((100% - 3 * 32px) / 4);
  }
  @media screen and (min-width: 1920px) {
    flex-basis: calc((100% - 3 * 32px) / 4);
  }
}

.team_item_thumb {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  margin-bottom: 16px;
  @media screen and (min-width: 1920px) {
    margin-bottom: 24px;
    border-radius: 24px;
  }
}

.team_experience {
  position: absolute;
  top: 16px;
  left: 16px;

  color: #100e0e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  border-radius: 24px;
  background: #fff;
  padding: 10px 8px;

  @media screen and (min-width: 1368px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1920px) {
    padding: 12px;
    font-size: 18px;
  }
}

.team_info_box {
  padding: 12px;
  flex-grow: 1;
  background: url("/images/header-bgc.png"),
    lightgray 0px -2.01px / 100% 323.077% no-repeat;
  background-size: contain;
  border-radius: 16px;
  @media screen and (min-width: 768px) {
    padding: 16px 12px;
  }
  @media screen and (min-width: 1368px) {
    padding: 12px;
  }
  @media screen and (min-width: 1920px) {
    border-radius: 24px;
    padding: 20px 16px;
  }
}

.team_item_title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;

  @media screen and (min-width: 1368px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 14px;
    font-size: 22px;
  }
}

.team_prof_description {
  color: #8a8b8a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  @media screen and (min-width: 1368px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 16px;
  }
}
