.button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 52px;
  height: 52px;
  padding: 17px;
  border-radius: 40px;
  background: #d93d30;

  transition: background-color linear 300ms;

  &:hover,
  &:focus {
    background-color: #fff;
  }

  @media screen and (min-width: 1920px) {
    width: 72px;
    height: 72px;
  }
}

.link_icon {
  width: 100%;
  height: 100%;
  fill: #fff;
  transition: fill linear 300ms;
}
.button:hover .link_icon,
.button:focus .link_icon {
  fill: #000;
}
